node_modules
build
demo/xmpp
demo_google/xmpp
demo_facebook/xmpp
firefox-google-demo/data
firefox-facebook-demo/data/xmpp
firefox-facebook-demo/data/freedom-for-firefox.jsm
firefox-facebook-demo/data/ux.js
/npm-debug.log
/freedom.js
.grunt/
