node_modules
build
chrome_demo_facebook/xmpp
chrome_demo_google/xmpp
chrome_demo_login/freedom*.js
chrome_demo_login/xmpp
firefox_demo_google/data
firefox_demo_facebook/data/xmpp
firefox_demo_facebook/data/freedom-for-firefox.jsm
firefox_demo_facebook/data/ux.js
/npm-debug.log
/freedom.js
.grunt/
